<div>
    <span><%= producto.name %></span> <span> $ <%= producto.price %></span> 
    <a href="ver/<%= producto._id %>">ver</a> 
    <a href="modificar/<%= producto._id%>">modificar</a> 
    <a href="eliminar/<%= producto._id%>/?_method=delete">eliminar</a>
</div>